A brief introduction to working with numbers in Python.

Last Modified: 22 Jan 2018 
<br>
Humans Responsible: The Prickly Pythons

# Lists and Numpy arrays

In [179]:
# Python has built-in 'lists':
x = [1, 2, 3]

In [181]:
x

[1, 2, 3]

In [110]:
# But they don't work as you would expect
x*2

[1, 2, 3, 1, 2, 3]

In [111]:
# And most vector-operations fail
x*2.3

TypeError: can't multiply sequence by non-int of type 'float'

In [112]:
# Numpy: The module for scientific computing with python
import numpy as np

In [113]:
x = np.array([1,2,3])

In [114]:
x

array([1, 2, 3])

In [115]:
type(x)

numpy.ndarray

In [117]:
x.dtype

dtype('int64')

In [118]:
# Now you can manipulate your array in every way thinkable:
x*2.3

array([ 2.3,  4.6,  6.9])

In [119]:
x/100.

array([ 0.01,  0.02,  0.03])

In [120]:
# numpy arrays can be combined with lists
y = [10.,10,10]
x+y

array([ 11.,  12.,  13.])

In [121]:
x/y

array([ 0.1,  0.2,  0.3])

In [122]:
x**2

array([1, 4, 9])

# Matrix and Vectors operations

In [158]:
x = np.array([1,2,3])
y = np.array([1,1,1])

In [159]:
# The dot (or scalar) product
np.dot(x,y)

6

In [160]:
# The cross product
np.cross(x,y)

array([-1,  2, -1])

In [182]:
# Setting up a matrix
A = np.array([[2,3,5],[7,11,13],[17,19,23]])

In [183]:
A

array([[ 2,  3,  5],
       [ 7, 11, 13],
       [17, 19, 23]])

In [184]:
np.dot(A,x) # This is Ax

array([ 23,  68, 124])

In [185]:
np.dot(x,A) # This is x^T A

array([ 67,  82, 100])

In [186]:
# Note: np.dot(A,x) is not the same as A*x:
A*x

array([[ 2,  6, 15],
       [ 7, 22, 39],
       [17, 38, 69]])

In [187]:
x*A

array([[ 2,  6, 15],
       [ 7, 22, 39],
       [17, 38, 69]])

In [188]:
A*A

array([[  4,   9,  25],
       [ 49, 121, 169],
       [289, 361, 529]])

In [189]:
np.dot(A,A)

array([[110, 134, 164],
       [312, 389, 477],
       [558, 697, 861]])

# Accessing elements in an array

In [175]:
# How to access an element in an array:
x

array([1, 2, 3])

In [176]:
x[0]

1

In [177]:
# Normal parentheses are for callable functions only:
x(0)

TypeError: 'numpy.ndarray' object is not callable

# Dictionary

In [171]:
# A dictionary can contain a combination of lists and arrays:
d = {'Your desired label':[1,2,3],'A':A}

In [172]:
d['Your desired label']

[1, 2, 3]

In [174]:
d['A']

array([[2, 3, 5],
       [4, 3, 7],
       [9, 4, 5]])